.table {
    width: auto;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    font-size: small;
}
.tableNomer{
	/* overflow: visible; */
	overflow-y: auto;
}
.form-control {
    margin-bottom: 3px;
    width: 162px;
}
.table-hover td,
.table-hover th{
	vertical-align: middle;
	text-align: center;
}
.status, .result{
    width: 20px;
    padding-left: 4px;
    border: none;
    background: #dee0de;
}
.data_posilki, .dovidka{
    width: 120px;
    border: none;
    background: #dee0de;
}
.number, .imei{
    border: none;
    background: #dee0de;
}
.number{
    width: 90px;
}
.imei{
    width: 110px;
}